body {
    width: 99%;
    height: 2500px;
    background-color: white; 
}

header{
    display: grid;
    grid-template: 35% 25% 25%/ 30% 1fr;
    justify-self: center;
    padding-top: 20px;
    width: 99wh;
    height: 220px;
}

.logoImgCont {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: 99%;
    margin-left: 10%;
}

.rutaImg{
    display: flex;
    grid-column: 2;
    grid-row: 1;
    width: 75%;
    height: 60%;
    padding-left: 24%;
    align-self: center;
    flex-direction: row;
}
#srchBar {
    display: flex;
    width: 30%;
    height: 40%;
    margin-left: 50%;
    align-self: center;
}
#lupita {
    display: flex;
    height: 40%;
    align-self: center;
    margin-left: 5px;
}

.mediaIcons {
    margin-left: 14%;
    display: flex;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    
}

#ubiK {
    display: flex;
    height: auto;
    margin-left: 1%;
}

#yT {
    display: flex;
    height: auto;
    margin-left: 1%;
}

#Fb {
    margin-left: 1%;
    display: flex;
    height: auto;
}

#Insta {
    display: flex;
    height: auto;
    margin-left: 1%;
}

#Sptf {
    display: flex;
    height: auto;
    margin-left: 1%;
}
#tktk {
    display: flex;
    height: auto;
    margin-left: 1%;
}
.lowerHdr {
    display: flex;
    justify-self: center;
    width: 99%;
    grid-column: 1 / 3;
    grid-row: 3;
    height: 50%;
    align-self: flex-end;
    flex-direction: row;
}
#listHdr {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: -0.25px;
    color: rgb(95, 95, 95);
    margin-right: 3%;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #007ea8;
    width: 100wh;
    height: 75px;
}

#navList {
    display: flex;
    justify-content: space-between;
    width: 99%;
    list-style: none;
    color: white;
    align-items: center;
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-right: 3%;
    font-weight: bold;
}
#titleInamuCont {
   display: grid;
   grid-template-columns: 1fr 50% 1fr;
   width: 100%;
   border: 1px dashed green;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
}
#titleInamu {
    font-family: 'Inter', sans-serif;
    color: #007ea8;
    grid-column: 2;
    margin-top: 75px;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #007ea8;
}

.imgSliderCont {
    width: 100%;
    height: 500px;
    border: 1px dashed rebeccapurple;
}

.firstSlider {
    width: 900px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500px;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
.manualNavigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manualBtn {
    border: 2px solid rgb(151, 35, 35);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manualBtn:not(:last-child) {
    margin-right: 40px;

}


.cont1 {
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.subCont1 {
    justify-content: right;
    display: flex;
    grid-column: 1;
}

.subCont2 {
    display: flex;
    grid-column: 2;
}

#blueBox {
    display: grid;
    grid-template: 15% 50% 35%/1fr;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    background-color: #007ea8;
    margin-right: 5%;
}
#titleBlue{
    font-weight: 800;
    font-size: 42px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 60px;
    margin-left: 55px;
    letter-spacing: -0.1rem;
    line-height: 36px;
    grid-row: 1;
}

#blueText{
    grid-row: 2;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    width: 75%;
    justify-self: center;
    margin-top: 20px;
}

#whiteArrowImg {
    margin-left: 10px;
    height: 20px;
    margin-top: 20px;
}

#blueContImage {
    grid-row: 3;
    display: flex;
    align-self: flex-end;
}

#grayBox {
    display: grid;
    grid-template: 60% 15% 25%/1fr;
    width: 450px;
    height: 600px;
    border-radius: 20px;
    background-color: #ebeef1;;
    margin-left: 5%;
}

#bigTextGray {
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #191919;
    display: flex;
    justify-content: center;
    margin-top: 17%;
}

#smallTextGray {
    margin-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.25px;
    color: #666;
    grid-row: 2;
    display: flex;
    justify-self: center;
    width: 80%;
}

#grayImages{
    width: 80%;
    height: 60%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 3;
    margin-top: 5%;
}

#emergencyContact{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;
    background-color: #007ea8;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

.cont2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    border: 1px solid salmon;
}

#casaDeLasM {
    display: grid;
    grid-template: 40% 60% / 40% 60% ;
    position: relative;
    width: 71%;
    height: 410px;
    border-radius: 20px;
    background-image: url(Img/blueBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#casaMujeresImg {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-self: center;
    align-self: center;
}

#casaMujeresLike{
    display: flex;
    justify-self: center;
    align-self: flex-end;
    grid-row: 2;
    grid-column: 1;
}

#smallTextCasaM{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
}

#bigTextCasaM {
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
}

.cardsCont{
    width: 100%;
    height: 415px;
    border: 1px solid aqua;
}

.politicasNacCont {
    display: grid;
    grid-template:15% 40% 40% / 100% ;
    width: 100%;
    min-height: 930px;
    background-image: url(Img/blueBackgroundv.2.png);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}

.titleCont {
    grid-row: 1;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px dashed red;
    height: 90px;
}



#politicasNacTitle {
    display: flex;
    color: white;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 42px;
    line-height: 36px;
    font-weight: bolder;
}

#politicasNacSubTitle {
    display: flex;
    color: white;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: larger;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}

.PIEGcont {
    display: grid;
    grid-template: 1fr / 48% 52% ;
    grid-row: 2;
    width: 60%;
    background-color: white;
    height: 250px;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    padding: 42px 50px;
    justify-self: center;
}

#izqPIEG{
    grid-column: 1;
}
#derPIEG{
    grid-column: 2;
    display: flex;
    
}

.PlaNoViCont{
    display: grid;
    grid-template: 1fr / 48% 52%;
    grid-row: 3;
    width: 60%;
    background-color: white;
    height: 250px;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
    padding: 42px 50px;
    justify-self: center;
}

#planoviImg {
    grid-column: 1;
}
#derPlanovi {
    grid-column: 2;
}

.newsCont {
    display: grid;
    grid-template: 10% 90%/ 40% 23% 40%;
    height: 1000px;
    width: 100%;
}

#titleNews {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.5px;
    color: #191919;
    align-items: center;
    justify-content: center;
}

.bruncaCont {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template: 30% 15% 37% 18%/ 100% ;
    width: 45%;
    height: 733.953px;
    border-radius: 20px;
    padding: 20px;
    justify-self: right;
    background-color: white;
    box-shadow: 0 20px 40px -5px rgba(80, 92, 103, 0.24);
}

#policiaPic {
    display: flex;
    grid-row: 1;
}
#policiaPic img {
    width: 100%;
    height: 90%;
}

#boldText{
    grid-row: 2;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.95px;
    color: #191919;
    text-align: left;
    display: flex;
}

#grayText {
    grid-row: 3;
    font-size: 18px;
    color: #666;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.95px;
    line-height: 32px;
}

#linkIndicator1{
    display: flex;
    grid-row: 4;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #007ea8;
}

.OCDEcont {
    display: grid;
    grid-template: 30% 20% 50% / 1fr ;
    grid-row: 2;
    grid-column: 2;
    width: 80%;
    height: 733.953px;
    border-radius: 20px;
    padding: 20px;
    justify-self: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 20px 40px -5px rgba(80, 92, 103, 0.24);
}

#OCDEPic {
   display: flex;
   grid-row: 1;
   grid-column: 2;

}
#OCDEPic img{
    width: 100%;
    height: 90%;
}

#OCDEBoldText {
    grid-column: 2;
    grid-row: 2;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.95px;
    color: #191919;
    text-align: left;
    display: flex;
}

#OCDEGrayText {
    grid-column: 2;
    grid-row: 3;
    font-size: 18px;
    color: #666;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.95px;
    line-height: 32px;
    margin-top: 15px;
}
.updateCont {
    display: grid;
    grid-template: 30% 20% 50% / 1fr ;
    grid-row: 2;
    grid-column: 3;
    width: 45%;
    height: 733.953px;
    border-radius: 20px;
    padding: 20px;
    justify-self: left;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 20px 40px -5px rgba(80, 92, 103, 0.24);
}

#UpdateContPic{
    display: flex;
    grid-column: 3;
    grid-row: 1;
}
#UpdateContPic img{
    width: 100%;
    height: 90%;
}

#boldTextUpdate{
    grid-column: 3;
    grid-row: 2;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.95px;
    color: #191919;
    text-align: left;
    display: flex;
}

#greyTextUpdate{
    grid-column: 3;
    grid-row: 3;
    font-size: 18px;
    color: #666;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.95px;
    line-height: 32px;
    margin-top: 15px;
}

footer {
    border: 2px dashed green;
    width: 100%;
    height: 1100px;
    background-color: #f7f7f7;
}
.enlacesCont {
    display: grid;
    grid-template: 40% 60% / 40% 20% 40%;
    width: 100%;
    height: 500px;
}

#enlacesTitle {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    color: black;
    justify-content: center;
    align-self: center;
    font-family: 'Inter', sans-serif; 
    font-weight: 800;
    line-height: 18px;
    font-size: xx-large;
}

.rutaDeGenero{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    flex-direction: column;
}

.rutaDeGenero img{
    width: 220px;
    height: 125px;
    border-radius: 20px;
    object-fit: cover;
}

#rutaDeGeneroText{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    justify-content: center;
}

.soyEmprendedoraCont{
    display: flex;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    flex-direction: column;
}

.soyEmprendedoraCont img{
    width: 220px;
    height: 125px;
    border-radius: 20px;
    object-fit: cover;
}

#soyEmprendedoraText{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    justify-content: center;
}

.cajaDeHerramientasCont{
    display: flex;
    grid-column: 3;
    grid-row: 2;
    justify-self: left;
    flex-direction: column;
}

.cajaDeHerramientasCont img{
    width: 220px;
    height: 125px;
    border-radius: 20px;
    object-fit: cover;
}

#cajaDeHerramientasText{
    display: flex;
    grid-column: 1;
    grid-row: 2;
    font-size: 20px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
    justify-content: center;
}

.footerLine {
    width: 100%;
    display: flex;
    justify-content: center;
}

#footerLinev2 {

    width: 70%;
    background-color: #666;
    height: 1px;
}

.bottomFooter {
    width: 100%;
    height: 600px;
    border: 1px dashed rgb(255, 1, 1);
    display: grid;
    grid-template: 80% 30% / 40% 30% 30%;
}

.firstColFooter {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.firstColFooter img{
    width: 90%;
    margin-top: 100px;
}